body {
    background-color: rgb(162, 128, 179);
    text-align: center;
    padding:0;
    margin:0;
}
#createpost {
    border-radius: 20px;
    background-color: rgb(113, 113, 248);
    color:rgb(255, 255, 255);
    padding: 10px;
    border-style: none;
}